body {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.tag {
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
    clear: both;
    display: inline-block;
    line-height: 1;
    border-radius: 5px;
}
