body {
     margin: 0;
     padding: 0;
}

h1 {
    text-align: center;
    line-height: .5;
    color: #666
}

h3 {
    text-align: center;
    line-height: 1;
    color: #666
}

td {
    vertical-align: top;
}

a, a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

#create_button {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

#rename_button {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

#delete_button {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

#tagTree {
     height: 100vh;
     width: 300px;
     overflow: auto;
     position: fixed;
}

#apiToken {
    width: 225px;
}

#verifyApiToken {
    outline-width: thin;
    vertical-align: text-bottom;
}

#apiTokenStatusIndicator {
    vertical-align: text-bottom;
}

#apiTokenStatus {
    vertical-align: top;
}

#apiPanel {
    font-size: small;
    text-align: center;
}

#leftPanel {
    width: 300px;
}

#rightPanel {
    position: absolute;
    left: 300px;
    padding: 0 10;
}

#generateBookmarks {
    font-weight: bold;
    padding: 10;
    font-size: normal;
    border-radius: 4px;
    outline-width: thin;
    background-color: white;
    color: black;
}

#outerNotice {
    width: 100%;
    text-align: center;
    position: fixed;
    left: 150px;
}

#innerNotice {
    width: 600px;
    background: #fc3;
    color: #c00;
    font-weight: bold;
    display: table;
    margin: -2 auto;
    border-radius: 0px 0px 4px 4px;
    opacity: 0.8;
}

.disabledElement {
    pointer-events: none;
    opacity: 0.3;
}

.btn {
    display: inline-block;
    padding: 3px;
    margin-bottom: 10;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    outline-width: thin;
}

.tag {
    border: 1px solid black;
    padding: 4px;
    margin: 3px;
    display: inline-block;
    border-radius: 5px;
    font-size: smaller;
    color: #000;
    text-decoration: none;
    background-color: #def;
    outline-width: thin;
}

.tag:hover {
    background-color: #ff0;
    cursor: hand;
}

.notice {
    font-size: x-small;
    font-style: italic;
    text-align: center;
}

.instructions {
    line-height: 1.5;
}
