body {
     margin:0;
     padding:0;
}

h1, h3 {
    text-align: center;
}

td {
    vertical-align: top;
}

#create_button {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

#rename_button {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

#delete_button {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

#tagTree {
     height: 100vh;
     width: 300px;
     overflow: auto;
     position:fixed;
}

.btn {
    display: inline-block;
    padding: 3px;
    margin-bottom: 10;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    /*border: 1px solid transparent;*/
    border-radius: 4px;
    outline-width: thin;
}

.tag {
    border: 1px solid black;
    padding: 4px;
    margin: 3px;
    display: inline-block;
    border-radius: 5px;
    font-size: smaller;
    color: #000;
    text-decoration: none;
    background-color: #def;
    outline-width: thin;
}

.tag:hover {
  background-color: #ff0;
  cursor: hand;
}
